body {
    margin: 0;
    font-size: 5vw;
    background-color: cornflowerblue;
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    position: relative;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

input {
    background-color: #fff;
    border: 0;
    width: 5vw;
    font-size: 2vw;
    padding: 1vw;
    border: 0;
    border-radius: 10vw;
    position: absolute;
    transition: width 0.3s ease;
}

button {
    background-color: #fff;
    width: 10vw;
    font-size: 2vw;
    padding: 1vw;
    border: 0;
    border-radius: 10vw;
    cursor: pointer;
    position: absolute;
    transition: transform 0.3s ease;
}

input:focus, button:focus {
    outline: 0;
}

.container.active input {
    width: 13vw;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

.container.active button {
    transform: translateX(11vw);
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    box-shadow: 0 0 1vw blueviolet;
}